<!DOCTYPE html>
<html lang="en" ng-app="myNinjaApp">
  <head>
      <title>Super Awesome Angular Playlist</title>
      <link href="content/styles.css" rel="stylesheet" type="text/css" />
      <script src="app/lib/angular.min.js"></script>
      <script src="app/app.js"></script>
  </head>
  <body>
    <header ng-include="'header.html'"></header>
    <div class="content">
      <div ng-controller="NinjaController">
        <button ng-click="order = 'name'">Order by Name</button>
        <button ng-click="order = 'belt'">Order by Belt</button>
        <input type="text" ng-model="search" placeholder="Search for a ninja"/>
        <ul>
          <li ng-repeat="ninja in ninjas | orderBy: order | filter: search" ng-show="ninja.available">
              <h3>{{ninja.name}} - {{ninja.rate | currency}}</h3>
              <div class="remove" ng-click="removeNinja(ninja)">X</div>
              <span class="belt"style="background: {{ninja.belt}}">{{ninja.belt}} belt</span>
          </li>
        </ul>
        <!-- ng-submit - when clicked, it will fire a function in the controller -->
        <form ng-submit="addNinja()">
          <!-- Data in the inputs - need to store in a variable and do that with ng-model -->
          <input type="text" placeholder="name" ng-model="newninja.name" />
          <input type="text" placeholder="belt" ng-model="newninja.belt" />
          <input type="text" placeholder="rate" ng-model="newninja.rate" />
          <input type="submit" value="Add new ninja" />
        </form>
      </div>
    </div>
  </body>
</html>
